# Assignment 6 - pandas (Jeshurun Biney)  
### due 3/14/2022   

Use this notebook and prompts to complete the homework. Throughout there will be hints and some code provided  

### Things you will need:  
- Install os, NumPy, pandas  
- states_covid.csv  
- Bloom_etal_2018_Reduced_Dataset.csv  
- logfiles.tgz (or some other multiple file dataset)  

*NOTE*: Make sure your PATH is correct  

**import packages & check required datasets**

In [48]:
import os
import numpy as np
import pandas as pd

In [49]:
PATH = '/Users/jeshurunbiney/BIOL792/week12_python7_pandas' #CHANGE

In [50]:
assert os.path.exists(os.path.join(PATH,'states_covid.csv')), 'states_covid.csv does not exist'

In [51]:
assert os.path.exists(os.path.join(PATH,'Bloom_etal_2018_Reduced_Dataset.csv')), 'Bloom_etal_2018_Reduced_Dataset.csv does not exist'

In [52]:
#checking my current working directory
!cd $PATH
!echo "$PATH"

/Users/jeshurunbiney/BIOL792/week12_python7_pandas

In [53]:
cd $PATH

/Users/jeshurunbiney/BIOL792/week12_python7_pandas

## Task 1 - DataFrame manipulation  

Using **states_covid.csv**, we are going to read the data in as a DataFrame to manipulate, subset, and filter in various ways.   

### Task 1.1 

Read in states_covid.csv with date as a "date" dtype, and only columns consisting of the hospitalization (4 col), ICU (2 col), and Ventilators (2 col)

In [54]:
state_covid_df = pd.read_csv('states_covid.csv')
state_covid_df.columns #view the column names and find specified names

Index(['date', 'state', 'death', 'deathConfirmed', 'deathIncrease',
       'deathProbable', 'hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative',
       'inIcuCurrently', 'negative', 'negativeIncrease',
       'negativeTestsAntibody', 'negativeTestsPeopleAntibody',
       'negativeTestsViral', 'onVentilatorCumulative', 'onVentilatorCurrently',
       'positive', 'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'],
      dtype='object')

In [55]:
state_covid_sub_df = pd.read_csv('states_covid.csv',usecols=['date','hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative','inIcuCurrently', 'onVentilatorCumulative', 'onVentilatorCurrently'],parse_dates=['date'],infer_datetime_format=True)
state_covid_sub_df.head()

,date,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,inIcuCurrently,onVentilatorCumulative,onVentilatorCurrently
0,2021-02-23,1260.0,1260.0,38.0,9,NaN,NaN,NaN,5.0
1,2021-02-23,45250.0,45250.0,762.0,122,2632.0,NaN,1497.0,NaN
2,2021-02-23,14617.0,14617.0,545.0,47,NaN,204.0,1505.0,99.0
3,2021-02-23,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,2021-02-23,57072.0,57072.0,1515.0,78,NaN,447.0,NaN,266.0

In [56]:
state_covid_sub_df.dtypes

date                      datetime64[ns]
hospitalized                     float64
hospitalizedCumulative           float64
hospitalizedCurrently            float64
hospitalizedIncrease               int64
inIcuCumulative                  float64
inIcuCurrently                   float64
onVentilatorCumulative           float64
onVentilatorCurrently            float64
dtype: object

### Task 1.2 

For each of the following catergories: *currently* hospitalized, *currently* in the ICU, and *currently* on ventilation...  
Find the 5 states with the greatest numbers in each catergory and list them in order.      
*hint*: sort_values, unique

In [57]:
# print (state_covid_sub_df)

In [58]:

df = pd.read_csv('states_covid.csv', parse_dates=['date'], usecols=['date', 'state', 'hospitalizedCurrently', 'hospitalizedCumulative', 'inIcuCurrently', 'inIcuCumulative', 'onVentilatorCurrently', 'onVentilatorCumulative'])

# Find the 5 states with the greatest number of currently hospitalized patients
currently_hospitalized = df.groupby('state')['hospitalizedCurrently'].max().sort_values(ascending=False)
top_hospitalized = currently_hospitalized.head(5)
print("Top 5 states with the greatest number of currently hospitalized patients:")
print(top_hospitalized)

# Find the 5 states with the greatest number of currently in the ICU patients
currently_icu = df.groupby('state')['inIcuCurrently'].max().sort_values(ascending=False)
top_icu = currently_icu.head(5)
print("Top 5 states with the greatest number of currently in the ICU patients:")
print(top_icu)

# Find the 5 states with the greatest number of currently on ventilation patients
currently_ventilator = df.groupby('state')['onVentilatorCurrently'].max().sort_values(ascending=False)
top_ventilator = currently_ventilator.head(5)
print("Top 5 states with the greatest number of currently on ventilation patients:")
print(top_ventilator)

Top 5 states with the greatest number of currently hospitalized patients:
state
CA    22851.0
NY    18825.0
TX    14218.0
FL     9520.0
NJ     8270.0
Name: hospitalizedCurrently, dtype: float64
Top 5 states with the greatest number of currently in the ICU patients:
state
NY    5225.0
CA    4971.0
TX    3686.0
NJ    2051.0
MI    1663.0
Name: inIcuCurrently, dtype: float64
Top 5 states with the greatest number of currently on ventilation patients:
state
NY    2425.0
NJ    1705.0
MI    1441.0
OH     863.0
AZ     821.0
Name: onVentilatorCurrently, dtype: float64

In [59]:
new_state_covid_sub_df = pd.read_csv('states_covid.csv') 

new_state_covid_sub_df = new_state_covid_sub_df.sort_values('positive',ascending=False,inplace=False)
new_state_covid_sub_df.sort_values('hospitalizedCurrently',ascending=False,inplace=True)
new_state_covid_sub_df.head()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
2637,2021-01-07,CA,28045.0,NaN,583,NaN,NaN,NaN,22851.0,0,...,34760355.0,211734,NaN,NaN,NaN,NaN,NaN,0,34760355.0,211734
2581,2021-01-08,CA,28538.0,NaN,493,NaN,NaN,NaN,22836.0,0,...,35027330.0,266975,NaN,NaN,NaN,NaN,NaN,0,35027330.0,266975
2693,2021-01-06,CA,27462.0,NaN,459,NaN,NaN,NaN,22820.0,0,...,34548621.0,217837,NaN,NaN,NaN,NaN,NaN,0,34548621.0,217837
2357,2021-01-12,CA,30513.0,NaN,548,NaN,NaN,NaN,22665.0,0,...,36508384.0,337856,NaN,NaN,NaN,NaN,NaN,0,36508384.0,337856
2413,2021-01-11,CA,29965.0,NaN,264,NaN,NaN,NaN,22633.0,0,...,36170528.0,343704,NaN,NaN,NaN,NaN,NaN,0,36170528.0,343704

### Task 1.3 

Find the date in which each state crossed 1000 cumulative hospitilized covid patients

In [60]:
#group by states using a for loop 

# Create a new DataFrame with only the necessary columns and group by state
df_hospitalized_cumulative = df[['state', 'hospitalizedCumulative', 'date']].groupby('state')

# Initialize an empty dictionary to store the results
results = {}

# Loop through each group and find the date of the first instance where the cumulative hospitalized count exceeds 1000
for state, group in df_hospitalized_cumulative:
    idx = (group['hospitalizedCumulative'] >= 1000).idxmax()  # find the index of the first instance where the cumulative count exceeds 1000
    date = group.loc[idx, 'date']  # extract the date corresponding to the index
    results[state] = date  # add the state and date to the results dictionary

# Print the results
for state, date in results.items():
    print(f"{state}: {date}")

AK: 2021-02-23 00:00:00
AL: 2021-02-23 00:00:00
AR: 2021-02-23 00:00:00
AS: 2021-02-23 00:00:00
AZ: 2021-02-23 00:00:00
CA: 2021-02-23 00:00:00
CO: 2021-02-23 00:00:00
CT: 2021-02-23 00:00:00
DC: 2021-02-23 00:00:00
DE: 2021-02-23 00:00:00
FL: 2021-02-23 00:00:00
GA: 2021-02-23 00:00:00
GU: 2021-02-23 00:00:00
HI: 2021-02-23 00:00:00
IA: 2021-02-23 00:00:00
ID: 2021-02-23 00:00:00
IL: 2021-02-23 00:00:00
IN: 2021-02-23 00:00:00
KS: 2021-02-23 00:00:00
KY: 2021-02-23 00:00:00
LA: 2021-02-23 00:00:00
MA: 2021-02-23 00:00:00
MD: 2021-02-23 00:00:00
ME: 2021-02-23 00:00:00
MI: 2021-02-23 00:00:00
MN: 2021-02-23 00:00:00
MO: 2021-02-23 00:00:00
MP: 2021-02-23 00:00:00
MS: 2021-02-23 00:00:00
MT: 2021-02-23 00:00:00
NC: 2021-02-23 00:00:00
ND: 2021-02-23 00:00:00
NE: 2021-02-23 00:00:00
NH: 2021-02-23 00:00:00
NJ: 2021-02-23 00:00:00
NM: 2021-02-23 00:00:00
NV: 2021-02-23 00:00:00
NY: 2021-02-23 00:00:00
OH: 2021-02-23 00:00:00
OK: 2021-02-23 00:00:00
OR: 2021-02-23 00:00:00
PA: 2020-04-06 00:00:00
PR: 2021-02-23 00:00:00
RI: 2021-02-23 00:00:00
SC: 2021-02-23 00:00:00
SD: 2021-02-23 00:00:00
TN: 2021-02-23 00:00:00
TX: 2021-02-23 00:00:00
UT: 2021-02-23 00:00:00
VA: 2021-02-23 00:00:00
VI: 2021-02-23 00:00:00
VT: 2021-02-23 00:00:00
WA: 2021-02-23 00:00:00
WI: 2021-02-23 00:00:00
WV: 2021-02-23 00:00:00
WY: 2021-02-23 00:00:00

## Task 2 - DataFrame summarizing  

Using **Bloom_etal_2018_Reduced_Dataset.csv**, we are going to do more dataframe manipulation and subsetting and summarizing    

### Task 2.1 

Read in Bloom_etal_2018_Reduced_Dataset.csv and create two new columns ('genus','species') that consists of the column *taxa* split at the underscore. Print out the head of this new dataframe and the number of unique genera**     

*hint:* pd.str.split(,expand=True)  

for example:  

| taxa | genus | species   
| :------ | :-- | :---   
| Alosa_alabamae | Alosa | alabamae

In [61]:
# Read in the CSV file
df = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv')

# Split the 'taxa' column into two new columns: 'genus' and 'species'
df[['genus', 'species']] = df['taxa'].str.split('_', n=1, expand=True)

# Print out the head of the new dataframe with the taxa, genus, and species columns
print(df[['taxa', 'genus', 'species']].head())

# Print out the number of unique genera
print("Number of unique genera:", df['genus'].nunique())

                   taxa  genus         species
0        Alosa_alabamae  Alosa        alabamae
1           Alosa_alosa  Alosa           alosa
2          Alosa_fallax  Alosa          fallax
3       Alosa_mediocris  Alosa       mediocris
4  Alosa_pseudoharengus  Alosa  pseudoharengus
Number of unique genera: 34

### Task 2.2 

Create a new dataframe with the mean *logbodysize* and *trophicposition* of each genera. Sort this data frame by the largest body size. Print the head of this dataframe.

In [62]:
# Read in the CSV file
new_df = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv')

#I was getting errors so I had to find the name of the columns since trophicposition in the data was underscored
new_df.columns

Index(['taxa', 'logbodysize', 'trophic_position', 'Reg'], dtype='object')

In [63]:
# Read in the CSV file
new_df = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv')

# Split the 'taxa' column into two new columns: 'genus' and 'species'
new_df[['genus', 'species']] = new_df['taxa'].str.split('_', n=1, expand=True)

# Group by genus and calculate the mean logbodysize and trophicposition
genus_means = new_df.groupby('genus').agg({'logbodysize': 'mean', 'trophic_position': 'mean'})

# Sort the dataframe by the mean logbodysize in descending order
genus_means = genus_means.sort_values('logbodysize', ascending=False)

# Print the head of the new dataframe
print(genus_means.head(200))

                logbodysize  trophic_position
genus
Tenualosa          1.778151          0.462398
Alosa              1.739062          0.540815
Coilia             1.544068          0.477121
Ethmalosa          1.544068          0.397940
Potamalosa         1.505150          0.518514
Hilsa              1.387390          0.462398
Anodontostoma      1.342423          0.447158
Engraulis          1.190332          0.462398
Cetengraulis       1.113943          0.322219
Pellona            1.113943          0.623249
Anchovia           1.093422          0.477121
Thryssa            1.041393          0.447158
Pellonula          1.004300          0.504938
Escualosa          1.000000          0.505150
Gilchristella      1.000000          0.491362
Stolothrissa       1.000000          0.431364
Hyperlophus        1.000000          0.531479
Stolephorus        0.973128          0.518514
Chirocentrodon     0.954243          0.518514
Encrasicholina     0.903090          0.518514
Clupeoides         0.903090          0.491362
Ramnogaster        0.903090          0.531479
Rhinosardinia      0.903090          0.531479
Spratelloides      0.845098          0.491362
Anchoa             0.843681          0.522218
Jenkinsia          0.838849          0.518514
Microthrissa       0.778151          0.491362
Anchoviella        0.775207          0.496877
Ehirava            0.698970          0.491362
Sauvagella         0.672098          0.491362
Clupeichthys       0.602060          0.477121
Sierrathrissa      0.477121          0.491362
Sundasalanx        0.447158          0.491362
Amazonsprattus     0.301030          0.531479

Which genera is the smallest and largest?

In [64]:
# Find the genus with the smallest mean logbodysize
smallest_genus = genus_means['logbodysize'].idxmin()
print("Smallest genus:", smallest_genus)

# Find the genus with the largest mean logbodysize
largest_genus = genus_means['logbodysize'].idxmax()
print("Largest genus:", largest_genus)

Smallest genus: Amazonsprattus
Largest genus: Tenualosa

What is the trophic position of the smallest and largest?

In [65]:
# Find the genus with the smallest mean logbodysize and its corresponding trophic position
smallest_genus = genus_means['logbodysize'].idxmin()
smallest_trophic_position = genus_means.loc[smallest_genus]['trophic_position']
print("Smallest genus:", smallest_genus)
print("Smallest genus trophic position:", smallest_trophic_position)

# Find the genus with the largest mean logbodysize and its corresponding trophic position
largest_genus = genus_means['logbodysize'].idxmax()
largest_trophic_position = genus_means.loc[largest_genus]['trophic_position']
print("Largest genus:", largest_genus)
print("Largest genus trophic position:", largest_trophic_position)

Smallest genus: Amazonsprattus
Smallest genus trophic position: 0.531478917
Largest genus: Tenualosa
Largest genus trophic position: 0.462397998

## Task 3 - Read in muliple files to a dictionary and make a DataFrame - **OPTIONAL/BONUS**  

### This is not something you are expected to do in this course, but just here to give you an idea of the things that you COULD do. Answers will be posted after due date.  


Using **logfiles**: we are going to do read in each file, get some data, append it to a dictionary to later make into a dataframe.     

**note:** *make sure to unzip logfiles*

In [66]:
PATH = '/Users/jeshurunbiney/BIOL792/week12_python7_pandas'

!cd $PATH
!echo "$PATH"

import pandas as pd

/Users/jeshurunbiney/BIOL792/week12_python7_pandas

In [67]:
%cd C:/Users/Administrator/Desktop/BIOL_792/Data_Science_For_Biology_II/Part.3.PythonProgramming/Pandas
%ls

[Errno 2] No such file or directory: 'C:/Users/Administrator/Desktop/BIOL_792/Data_Science_For_Biology_II/Part.3.PythonProgramming/Pandas'
/Users/jeshurunbiney/BIOL792/week12_python7_pandas
Bloom_etal_2018_Reduced_Dataset.csv  pythonModules.pptx
assignment_6_python.ipynb            state_plot04-01.png
logfiles/                            states_covid.csv
logfiles.tgz                         week_12_assignment_6_python.ipynb
primer_python6_pandas.ipynb

I had to specify all the path for it to read, I couldn't read the file

In [68]:
!tar -xzvf "/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles.tgz" #unzip logfiles

x logfiles/
x logfiles/1901302235_H6_S_14.txt.txt
x logfiles/1901302121_H8_S_14.txt.txt
x logfiles/1901302217_H18_D_14.txt.txt
x logfiles/1901302110_H13_S_14.txt.txt
x logfiles/1901302146_H14_D_14.txt.txt
x logfiles/1901302240_H8_D_14.txt.txt
x logfiles/1901302109_H7_S_14.txt.txt
x logfiles/1901302150_H14_S_14.txt.txt
x logfiles/1901302141_H19_S_14.txt.txt
x logfiles/1901302241_H2_D_14.txt.txt
x logfiles/1901302194_H10_S_14.txt.txt
x logfiles/1901302227_H11_S_14.txt.txt
x logfiles/1901302136_H15_D_14.txt.txt
x logfiles/1901302223_H16_S_14.txt.txt
x logfiles/1901302243_H5_S_14.txt.txt
x logfiles/1901302122_H3_D_14.txt.txt
x logfiles/1901302202_H16_S_14.txt.txt
x logfiles/1901302236_H17_D_14.txt.txt
x logfiles/1901302158_H9_S_14.txt.txt
x logfiles/1901302225_H12_D_14.txt.txt
x logfiles/1901302120_H5_D_14.txt.txt
x logfiles/1901302118_H1_D_14.txt.txt
x logfiles/1901302203_H7_S_14.txt.txt
x logfiles/1901302119_H4_S_14.txt.txt
x logfiles/1901302212_H9_D_14.txt.txt
x logfiles/1901302108_H7_D_14.txt.txt
x logfiles/1901302224_H3_S_14.txt.txt
x logfiles/1901302237_H10_D_14.txt.txt
x logfiles/1901302117_H15_S_14.txt.txt
x logfiles/1901302137_H18_S_14.txt.txt
x logfiles/1901302214_H19_D_14.txt.txt
x logfiles/1901302134_H13_D_14.txt.txt
x logfiles/1901302157_H12_S_14.txt.txt
x logfiles/1901302138_H11_D_14.txt.txt
x logfiles/1901302228_H4_D_14.txt.txt
x logfiles/1901302115_H1_S_14.txt.txt

In [69]:
import os
log_dir = os.path.join(PATH,'logfiles')
assert os.path.exists(log_dir), 'log_dir does not exist'

First step is to find the necessary files. The number of files in the log files is 36, make sure you have that many as well

In [70]:
import os

files = os.listdir(".")
for file in files:
    print(file)

logfiles
pythonModules.pptx
.DS_Store
primer_python6_pandas.ipynb
Bloom_etal_2018_Reduced_Dataset.csv
.ipynb_checkpoints
week_12_assignment_6_python.ipynb
logfiles.tgz
state_plot04-01.png
assignment_6_python.ipynb
states_covid.csv

In [71]:
import os

path = "/Users/jeshurunbiney/BIOL792/week12_python7_pandas"
os.chdir(path)

In [72]:
import os
import glob

# Set the directory path to the folder containing the log files
directory = r'/Users/jeshurunbiney/BIOL792/week12_python7_pandas'

# Use glob to get all the log file paths in the directory
log_files = glob.glob(os.path.join(directory, '*.txt'))

# Loop over the log files and print out their names
for log_file in log_files:
    print(os.path.basename(log_file))

# Check that the number of log files is equal to 36
if len(log_files) != 36:
    print(f"The number of log files ({len(log_files)}) is not equal to 36.")
    # Alternatively, you could raise an AssertionError to terminate the program:
    # raise AssertionError(f"The number of log files ({len(log_files)}) is not equal to 36.")
else:
    print("All log files accounted for.")

The number of log files (0) is not equal to 36.

### Getting a little tricky here  

Read in each of the logfiles, for each file extract:  
- minimum temperature  
- maximum temperature  
- date of minimum temp   
- date of maximum temp   
- mean temp for each file.   

This data should all be appended for a dictionary within a for loop:    
Key should be the file name without the path or .txt extension  
Values should be (minTemp,maxTemp,minDate,maxDate,meanTemp)

I recommend making this work for one file first, then putting the rest in a for loop to do the rest.  

Below is an example of how to read in one file

*hint:* do not read date in as date object

In [73]:
import os
import glob
import pandas as pd

# Set the directory path to the folder containing the log files
directory = r'/Users/jeshurunbiney/BIOL792/week12_python7_pandas'

# Use glob to get all the log file paths in the directory
log_files = glob.glob(os.path.join(directory, '*.txt'))

# Initialize an empty dictionary to store the temperature data for each file
temp_data = {}

# Loop over the log files
for log_file in log_files:
    # Extract the file name without the path or extension
    file_name = os.path.splitext(os.path.basename(log_file))[0]
      
    # Read in the log file as a DataFrame
    df = pd.read_csv(log_file, delim_whitespace=True, header=None, names=['Date', 'Time', 'Readings (°F)'])

In [100]:
### trial

directory = r'/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles'

# Use glob to get all the log file paths in the directory
log_files = glob.glob(os.path.join(directory, '*.txt'))

for log_file in log_files:
    print(log_file)

/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302235_H6_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302121_H8_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302217_H18_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302110_H13_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302146_H14_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302240_H8_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302109_H7_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302150_H14_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302141_H19_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302241_H2_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302194_H10_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302227_H11_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302136_H15_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302223_H16_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302243_H5_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302122_H3_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302202_H16_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302236_H17_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302158_H9_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302225_H12_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302120_H5_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302118_H1_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302203_H7_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302119_H4_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302212_H9_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302108_H7_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302224_H3_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302237_H10_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302117_H15_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302137_H18_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302214_H19_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302134_H13_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302157_H12_S_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302138_H11_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302228_H4_D_14.txt.txt
/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles/1901302115_H1_S_14.txt.txt

In [89]:
### set up data frame as you read in each file

directory = r'/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles'

# Use glob to get all the log file paths in the directory
log_files = glob.glob(os.path.join(directory, '*.txt'))

for log_file in log_files:
    print(os.path.basename(log_file))

1901302235_H6_S_14.txt.txt
1901302121_H8_S_14.txt.txt
1901302217_H18_D_14.txt.txt
1901302110_H13_S_14.txt.txt
1901302146_H14_D_14.txt.txt
1901302240_H8_D_14.txt.txt
1901302109_H7_S_14.txt.txt
1901302150_H14_S_14.txt.txt
1901302141_H19_S_14.txt.txt
1901302241_H2_D_14.txt.txt
1901302194_H10_S_14.txt.txt
1901302227_H11_S_14.txt.txt
1901302136_H15_D_14.txt.txt
1901302223_H16_S_14.txt.txt
1901302243_H5_S_14.txt.txt
1901302122_H3_D_14.txt.txt
1901302202_H16_S_14.txt.txt
1901302236_H17_D_14.txt.txt
1901302158_H9_S_14.txt.txt
1901302225_H12_D_14.txt.txt
1901302120_H5_D_14.txt.txt
1901302118_H1_D_14.txt.txt
1901302203_H7_S_14.txt.txt
1901302119_H4_S_14.txt.txt
1901302212_H9_D_14.txt.txt
1901302108_H7_D_14.txt.txt
1901302224_H3_S_14.txt.txt
1901302237_H10_D_14.txt.txt
1901302117_H15_S_14.txt.txt
1901302137_H18_S_14.txt.txt
1901302214_H19_D_14.txt.txt
1901302134_H13_D_14.txt.txt
1901302157_H12_S_14.txt.txt
1901302138_H11_D_14.txt.txt
1901302228_H4_D_14.txt.txt
1901302115_H1_S_14.txt.txt

Now that we have all the log files confirmed on here. We shall go ahead to creat an empty dictionary, write a loop to go through and extract the needed columns

In [119]:
# Create an empty dictionary to store results
d = {}

# Specify the directory containing the logfiles
directory = '/Users/jeshurunbiney/BIOL792/week12_python7_pandas/logfiles'

# Use glob to get all the log file paths in the directory
log_files = glob.glob(os.path.join(directory, '*.txt'))

# Iterate through each log file
for log_file in log_files:
    # Read the log file into a DataFrame
    infile = pd.read_csv(log_file, sep='\t', engine='python', encoding='latin-1')
    infile.columns = ['Index', 'Date', 'Time', 'Temp', 'Type']
    infile = infile[['Date', 'Time', 'Temp']]

    # Convert 'Date' column to datetime format
    infile['Date'] = pd.to_datetime(infile['Date'])

    # Calculate summary statistics and store in the dictionary
    min_date = infile.loc[infile['Temp'].idxmin(), 'Date']
    max_date = infile.loc[infile['Temp'].idxmax(), 'Date']

    d[os.path.basename(log_file)] = [
        min(infile['Temp']),
        max(infile['Temp']),
        min_date.strftime('%m/%d/%Y'),
        max_date.strftime('%m/%d/%Y')
    ]

# Convert the dictionary to a DataFrame
df = pd.DataFrame.from_dict(d, orient='index', columns=['minTemp', 'maxTemp', 'minDate', 'maxDate'])

# Display the DataFrame
#print(df.head())

In [120]:
df.head(5)

                             minTemp  maxTemp     minDate     maxDate
1901302235_H6_S_14.txt.txt      21.3     65.8  12/06/2013  07/13/2014
1901302121_H8_S_14.txt.txt      17.9     73.4  10/28/2013  07/13/2014
1901302217_H18_D_14.txt.txt     21.0     82.4  10/28/2013  07/26/2014
1901302110_H13_S_14.txt.txt     22.8     60.9  10/04/2013  07/13/2014
1901302146_H14_D_14.txt.txt     24.6     66.1  01/21/2014  07/13/2014

In [115]:
#another way to do this

d={}
for n in log_files:
    infile = pd.read_csv(n, sep='\t', engine='python', encoding='latin-1')
    infile.columns = ['Index', 'Date', 'Time', 'Temp', 'Type']
    infile = infile[['Date', 'Time', 'Temp']]
    #print(infile.head())
    for n1 in infile:
        d[n]=[min(infile['Temp']),max(infile['Temp']),str(infile[infile['Temp'] == min(infile['Temp'])]['Date'].values[0]),str(infile[infile['Temp'] == max(infile['Temp'])]['Date'].values[0])]

In [94]:
df = pd.DataFrame.from_dict(d, orient='index', columns= ['minTemp','maxTemp','minDate','maxDate'])

In [ ]:
df

Then do the real code below here. You don't need to turnin your thoughts. Just put it in there as a help reminder. Most people all still do this, no matter how advanced they are

**Once you have created a DataFrame with all the logfiles, print the head and save it to an outfile using pd.to_csv() as logfiles_df.csv**

#### Here is an example of the final product

In [122]:
logfiles_df.head()

Empty DataFrame
Columns: [minTemp, maxTemp, minDate, maxDate, meanTemp]
Index: []