In [1]:
#!/usr/bin/env python 3

#this is a comment: testing my first program with a simple print statement

print("python in jupyter notebook is different but the same......")

python in jupyter notebook is different but the same......

# Python assignment 1

## Topics to cover
- Getting started
- Basic mathematical operations
- String operations
- `input()`, converting strings to floats, float precision



# Writing some of your first Python scripts to play with scalars and scalar functions.

Before working through the below exercises, make sure to have read chapter 8, and built the specified python script as demonstrated in the chapter. This will give you some good experience/practice with assigning scalar variables and using some string functions.

### 1. In addition to standard mathematical operators, the following are commonly useful. Make sure you understand what they do. Note that += will work with strings, the others will return undefined.


    +=      *= 	    -= 	    /=	   

 ### Write a script that assigns integers, floats, and strings to some variables (perhaps as illustrated below), and test each of the above operators. Use print statements to allow you to track what is happening in your script(s).

    Int_a = 7
    Int_b = 3
    Int_c = 2
    Float1 = 3.33
    Name1 = 'shipley'
    Name2 = 'dog'

<p>&nbsp;</p>

In [17]:
int_A = 7;
int_B = 9;
int_C = 5;
float_1 = 3.14;
Name1 = 'Joey';
Name2 = 'husky';

print("Testing assigned values")
print(int_A, int_B, int_C);
print(float_1);
print(Name2,Name1);


print("Using Operators +=");
int_A += int_B;
float_1 += int_A;
Name1 += Name2;

print(f"int_A += int_B = {int_A}");
print(f"float_1 += int_A = {float_1}");
print(f"Name1 + Name2 = {Name1}");

Testing assigned values
7 9 5
3.14
husky Joey
Using Operators +=
int_A += int_B = 16
float_1 += int_A = 19.14
Name1 + Name2 = Joeyhusky

In [20]:
int_A = 7;
int_C = 5;
float_1 = 3.14;
Name1 = 'Joey';
Name2 = 'husky';
print("Using Operators *=");

int_C *= int_A;
float_1 *= int_A;

print(f"int_C *= int_B = {int_C}");
print(f"float_1 *= int_A = {float_1}");

Using Operators *=
int_C *= int_B = 35
float_1 *= int_A = 21.98

In [23]:
int_A = 7;
int_C = 5;
float_1 = 3.14;
Name1 = 'Joey';
Name2 = 'husky';
print("Using Operators *=");

int_A -= int_C;
float_1 -= int_C;

print(f"int_A -= int_C = {int_A}");
print(f"float_1 -= int_C = {float_1}");

Using Operators *=
int_A -= int_C = 2
float_1 -= int_C = -1.8599999999999999

In [24]:
int_A = 7;
int_C = 5;
float_1 = 3.14;
Name1 = 'Joey';
Name2 = 'husky';
print("Using Operators /=");

int_C /= int_A;
float_1 /= int_A;

print(f"int_C /= int_B = {int_C}");
print(f"float_1 /= int_A = {float_1}");

Using Operators /=
int_C /= int_B = 0.7142857142857143
float_1 /= int_A = 0.44857142857142857

### 2. Write a program that uses `input()` to prompt the entry of a string and an integer and then prints out the string the number of times indicated by the number on separate lines.  If the user enters “fred” and “3”, the output should be: fredfredfred. If the user enters “fred” and “299792,” there would be a lot of output.

In [4]:
# Prompt the user for input
user_string = input("Enter a string: ")
user_integer = input("Enter an integer: ")

# convert the second input into an integer

user_integer = int(user_integer)


# Print the string the specified number of times
for _ in range(user_integer):
    print(user_string)

Enter a string: Jeshurun
Enter an integer: 10
Jeshurun
Jeshurun
Jeshurun
Jeshurun
Jeshurun
Jeshurun
Jeshurun
Jeshurun
Jeshurun
Jeshurun

### 3. Write a python script to calculate expected genotype frequencies in a population under Hardy Weinberg Equilibrium based on known allele frequencies at a gene with TWO alleles. As a reminder, a population under Hardy-Weinberg equilibrium has 3 genotype frequencies predictable from allele frequencies (p and q; p + q = 1):

### p**2 + 2pq + q**2 = 1

In [11]:
# Input allele frequencies (p)
p = float(input("Enter the frequency of allele 'A' (p): "))

# p + q = 1 , calculating the value of q
q = 1 - p

# Function to calculate Hardy-Weinberg genotype frequencies
def hardy_weinberg(p, q):
    p_squared = p * p
    q_squared = q * q
    pq = 2 * p * q
    
    return p_squared, pq, q_squared

# Calculate genotype frequencies
#assigning the return values using tuples
p_squared, pq, q_squared = hardy_weinberg(p, q)

# Print the results with 2 decimal places
print("Expected Genotype Frequencies under Hardy-Weinberg Equilibrium:")
print(f"AA: {p_squared:.2f}")
print(f"Aa: {pq:.2f}")
print(f"aa: {q_squared:.2f}")

Enter the frequency of allele 'A' (p): 0.45
Expected Genotype Frequencies under Hardy-Weinberg Equilibrium:
AA: 0.20
Aa: 0.50
aa: 0.30

### Each of the 3 terms above represent the genotype frequencies (AA [p**2], Aa [2pq], aa [q**2)]). In other words, p**2 is the predicted frequency of the first homozygous genotype, 2pq is the predicted frequency of heterozygotes, and q**2 is the predicted frequency of the second homozygous genotype. Your script should require the entry of values p and q, and should print the calculated values of each expected genotype.

### A couple of points here:

- The program should use the `input()` function to prompt for the command line entry of two values (p and q; really you only need to supply one value because they must sum to 1) from the command line.

- Depending on how you enter a number with a decimal, such as 0.8, python may automatically call this a string. If so, you will need to convert this to a float before performing mathematical operations.

- You may also notice that the precision, and the number of digits after the decimal, for p\*\*2, 2pq, q\*\*2 will be excessive. Control the precision of the floats you print so that they only have *2 digit*s after the decimal (e.g., 0.66). For this you should use the `%` operator (e.g., `%.2f`)